* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}
/* Nav decoration */
nav {
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 0px 30px;
  color: white;
}

#kevin {
  font-size: 50px;
}

nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
}
nav ul a {
  text-decoration: none;
  color: white;
}
/* Picture edit */
#headshot {
  width: 450px;
  border-radius: 10px;
}

section {
  text-align: center;
  color: #909090;
  width: 80%;
  margin: auto;
}
/* Picture edit */
.featured-project-image {
  width: 100%;
  height: 400px;
}
#project-1 {
  width: 80%;
  height: 350px;
}
/* Project edit  */
#project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  flex-direction: row;
}

.project-card {
  background-color: #000;
  /* color: black; */
  margin-top: 110px;
  width: 39%;
}

.project-card-featured {
  background-color: #000;
  /* color: black; */
  margin-top: 10px;
}

img {
  width: 100%;
}
/* Footer edit */
#contact {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 30px;
  background-color: #212121;
  color: white;
  /* padding-top: 30px; */
}

#project-3 {
  height: 100px;
}

@media screen and (max-width: 900px) {
  header {
    font-size: 30px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
