* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}
/* Nav decoration */
nav {
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 0px 30px;
  color: white;
}

#kevin {
  font-size: 50px;
}

nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
}
nav ul a {
  text-decoration: none;
  color: white;
}
/* Picture edit */
#headshot {
  width: 450px;
  border-radius: 10px;
}

section {
  text-align: center;
  color: #909090;
  width: 100%;
  margin: auto;
}

.bio {
  margin-left: 500px;
  margin-right: 500px;
}

#projects {
  font-size: 50px;
  color: white;
  margin-top: 200px;
}

/* Picture edit */
/* .featured-project-image {
  width: 100%;
  height: 400px;
} */

/* #project-1 {
  width: 80%;
  height: 350px;
} */

#project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  flex-direction: row;
}

.project-card {
  background-color: #000;
  margin-top: 50px;
  width: 75%;
}

/* .project-card-featured {
  background-color: #000;
  margin-top: 10px;
} */

/* #project-4 {
  height: 100px;
} */

img {
  width: 100%;
}

/* Footer edit */
#contact-me {
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 30px;
  background-color: #212121;
  color: white;
  /* padding-top: 30px; */
  margin-top: 50px;
}

@media screen and (max-width: 900px) {
  header {
    font-size: 30px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
